<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Alert System</title>
    <link rel="stylesheet" href="css/results.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>FLASH ALERT SYSTEM</h1>
        </header>
        <div class="outer">
        <div class="weather-information">
            <h3>Weather Information</h3>
            <div class="alertgreen">
            <h2><%= alert %></h2>    
            </div>  <!--AlertGreen-->
              <div class="FourInfo"> <!--FourInfo-->
                <h4>Temperature: <%= temp %>°C</h4>
                <h4>Rainfall: <%= rain %>mm</h4>
                <h4>Wind Speed: <%= wind %>m/s</h4>
                <h4>Humidity: <%= humid %>%</h4>           
              </div><!--FourInfo-->
        </div>   <!--WeatherInformation-->
        <footer>
            <p>For precise and reliable flood data, explore our IoT device tailored to provide the most accurate local area insights. <a href="#">Learn more here.</a></p>
        </footer>
    </div>
</body>
<script>
    
</script>
</html>
